.footer-horizontal{
 display:flex;
 flex-direction:row;
 
 gap:50px;
 }
 
  .footer-vertical{
   display:flex;
    flex-direction:column;
    
    justify-content: center;
      align-items: center;

      }
  .footer-horizontal p {
  font-family:Arial, sans-serif;
      color:white;
      text-align:center;
      justify-content: center;
      align-items: center;
      

   }
    p {
  font-family:Arial, sans-serif;
      color:white;
      text-align:center;
      justify-content: center;
      align-items: center;
      

   }
  
    .site-footer
    {
      background-color:rgb(17, 17, 17);

      }
     .footer-horizontal img
         {
           width:40px;
           height:40px;


          }
    
   