.FlowFormat{
display:flex;
flex-direction:column;

       }

.HomeContainer{
position:relative;
min-height:100vh;
background-image: url('./Pictures/aletrfyback.jpg');
background-size:cover;
background-position:center;
justify-content:center;
align-items:center;
display:flex;
color:white;
text-align:center;
  }

.HomeQuote p {
display:flex;
flex-direction:column;
font-size:30px;
font-weight:bold;
color: #111;
padding:10px;
align-items:center;
justify-content:center;
}

.GoNext{
display:flex;
flex-direction:row;

         }
button {
width:200px;
height:70px;
background-color:rgb(195, 18, 18);
color:white;
font-size:25px;
font-weight:bold;
border:none;
border-radius:24px;
cursor:pointer;

     }
.HomeQuote h1{
font-size:35px;
color:black;
text-align:center;
margin-bottom:28px;

         }
