.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  min-width: 300px;
}

.input {
  display: block;
  margin-bottom: 10px;
  width: 350px;
  padding: 8px;
  font-size: 14px;
}

.button {
  margin-right: 10px;
  padding: 8px;
  margin-left:100px;
  background-color: rgb(17, 17, 17);

}


.format{
         display:flex;
         flex-direction:column;
       }